<sections
  [sectionsList]="sectionsList"
  (setSection)="setSection($event)"
  (timerEnded)="handleTimerEnd()"
></sections>
<timer
  (setShowingButtons)="setShowingButtons(false, true, false)"
  [currentSection]="currentSection"
  [sectionsList]="sectionsList"
  (timerEnded)="handleTimerEnd()"
></timer>

<div class="control-buttons">
  @if (showStartButton === true) {
  <div
    class="control-buttons__button"
    id="start-control-button"
    (click)="startTimer()"
  >
    Start
  </div>
  } @if (showResumeButton === true) {
  <div
    class="control-buttons__button"
    id="resume-control-button"
    (click)="resumeTimer()"
  >
    Resume
  </div>
  } @if (showPauseAndSkipButtons === true) {
  <div
    class="control-buttons__button"
    id="pause-control-button"
    (click)="pauseTimer()"
  >
    Pause
  </div>

  <span id="skip-control-button" (click)="skipSection()">
    <img src="../../../assets/svg/next.svg" alt="skip-section-icon" />
  </span>
  }
</div>
