:host {
  display: block;
}
.control-buttons {
  align-items: center;
  display: flex;
}

.control-buttons__button {
  align-items: center;
  background-color: white;
  border-radius: 4px;
  border: none;
  box-shadow: rgb(235, 235, 235) 0px 6px 0px;
  color: rgb(186, 73, 73);
  cursor: pointer;
  display: flex;
  font-size: 22px;
  font-weight: bold;
  height: 55px;
  justify-content: center;
  margin: 20px 0px 0px;
  padding: 0px 12px;
  text-transform: uppercase;
  transition: color 0.5s ease-in-out 0s;
  width: 200px;
}

#skip-control-button {
  font-size: 30px;
  margin-left: 10px;
  cursor: pointer;
}
img {
  width: 30px;
  color: #fff;
}