:host {
  display: block;
}


.task-menu {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  background-color: white;
}

.task-menu__option {
  cursor: pointer;
  text-align: left;
  font-size: 15px;
  color: #333;
  margin-bottom: 20px;
}

.task-menu__option i {
  margin-right: 10px;
}

.clear-all-tasks {
  margin: 0;
  border-top: #3333334b solid 1px;
  padding-top: 10px;
}