<div class="task-menu">
  <div class="task-menu__option" (click)="deleteCompletedTasks()">
    <i class="fi fi-rr-trash"></i>
    Clear finished tasks
  </div>
  <!-- <div class="task-menu__option" (click)="onSaveAsTemplate()"> -->
  <div class="task-menu__option" (click)="showTemplateForm()">
    <i class="fi fi-rr-disk"></i> 
    Save as template
  </div>
  <div class="task-menu__option" (click)="showTemplatesList()">
    <i class="fi fi-rr-plus"></i>
    Add from templates
  </div>
  <div class="task-menu__option clear-all-tasks" (click)="deleteAllTasks()">
    <i class="fi fi-rr-trash"></i>
    Clear all tasks
  </div> 
</div>