<form id="task-creator-popup" [formGroup]="taskForm">
  <div id="task-creator-popup__main">
    <input
      type="text"
      id="taskTitleField"
      placeholder="What are you working on?"
      formControlName="taskTitle"
      required
      autocomplete="off"
    />

    <h2>Est Pomodoros</h2>

    <input
      id="taskPomodorosField"
      type="number"
      placeholder="1"
      formControlName="taskPomodoros"
      required
    />

    @if (showDescriptionField === true) {
    <textarea
      placeholder="Some notes..."
      formControlName="taskDescription"
      required
      spellcheck="false"
    ></textarea>
    } @else {
    <div id="moreOptions">
      <button id="add-task-description" (click)="onShowDescriptionField()">
        + Add note
      </button>
    </div>
    }
  </div>
  <div id="task-handling-buttons">
    <button (click)="hideTaskForm()" class="task-handling-buttons__button">
      <span>Cancel</span>
    </button>

    @if(showSaveButton === true) {
    <button
      (click)="createTask()"
      class="task-handling-buttons__button"
      id="task-handling-buttons__save"
    >
      <span class="word-option">Save</span>
    </button>
    } @else {
    <button
      (click)="updateTask()"
      class="task-handling-buttons__button"
      id="task-handling-buttons__update"
    >
      <span class="word-option">Update</span>
    </button>
    }
  </div>
</form>
