<header>
  <h2>Tasks</h2>
  <button>
    <i class="fi fi-sr-menu-dots-vertical"></i>
  </button>
</header>


@for (task of this.tasksService?.tasksList(); track task.title) {
  @if (task.editMode === false) {
    <task [task]="task"></task>
  } @else {
    <task-form
    [task]="task"
    [taskTitle]="taskTitle"
    [taskPomodoros]="taskPomodoros"
    [taskDescription]="taskDescription"
    class="animate__animated animate__flipInX"
  ></task-form>
  }
}


@if (showTaskForm !== true) {
<button id="add-task-button" (click)="onShowTaskForm()">
  <i class="fi fi-sr-add"></i> Add Task
</button>
}

@if (showTaskForm === true) {
  <task-form
  [taskTitle]="taskTitle"
  [taskPomodoros]="taskPomodoros"
  [taskDescription]="taskDescription"
  class="animate__animated animate__flipInX"
  ></task-form>
}
