<header>
  <h2>Tasks</h2>
  <button>
    <i class="fi fi-sr-menu-dots-vertical"></i>
  </button>
</header>

@for (task of tasksList; track task.id) { 
  @if (task.editMode) {
    <task-form
      [task]="task"
      (hideForm)="setShowTaskForm(false)"
      class="animate__animated animate__flipInX"
    ></task-form>
  } @else {
    <task [task]="task" 
    ></task>
  } 
}

@if (showTaskForm()) {
<task-form (hideForm)="setShowTaskForm(false)" class="animate__animated animate__flipInX"></task-form>
} @else {
<button id="add-task-button" (click)="confirmTaskChanges()">
  <i class="fi fi-sr-add"></i> Add Task
</button>
}