header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  position: relative;
  max-width: 480px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
}

header h2 {
  font-size: 20px;
  font-weight: 500;
}

header button {
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  background: none rgba(255, 255, 255, 0.2);
  margin-left: 10px;
  font-size: 13px;
  padding: 5px;
  min-width: auto;
  border: none;
  color: white !important;
}

task {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

}

task-form {
  max-width: 480px;
  width: 100%;
}

#add-task-button {
  max-width: 480px;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.8;
  margin-top: 12px;
  border: 2px dashed rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
}

#add-task-button i {
  margin-right: 5px;
}

.animate__flipInX {
  animation-duration: 0.55s;
}