<div class="templates-list">
  <div id="template-form-main">
    <header>
      <h2>select a template</h2>
    </header>

    @for (template of templatesList(); track template.id) {
    <div class="template" (click)="chooseTemplateAction(template)">
      <span>{{ template.title }}</span>
      <i class="fi fi-rr-cross" (click)="deleteTemplate(template)"></i>
    </div>
    } @empty {
      <span class="no-templates">No templates to show 🤔...</span>
    }

    <!-- Si "templates" es nula o indefinida, se establece una longitud predeterminada de cero utilizando el operador de coalescencia nula "??". -->
    @if( (this.templates?.length ?? 0) !== 0  && showForm) {
      <div class="add-template" (click)="showTemplatesForm()">+ Create a new template</div>
    }
  </div>
</div>
