pomodoro-main {
  background: none rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  color: #fff;
  max-width: 480px;

  margin-bottom: 20px;
  margin: 0 auto;
  padding: 20px 0px 30px;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}