<nav>
  <a href="">
    <div id="logo">
      <i class="fi fi-ss-check-circle"></i>
      <h1>Pomofocus</h1>
    </div>
  </a>

  <div id="nav-options">
    <button (click)="setShowSettings(true)">
      <i class="fi fi-sr-settings"></i>
      Setting
    </button>
  </div>

  <div id="nav-options2">
    <button>
      <i class="fi fi-sr-settings"></i>
    </button>
  </div>
</nav>
@if (showSettings) {
  <config class="animate__animated animate__fadeIn" (setShowSettings)="setShowSettings(false)"></config>
}


<pomodoro-main></pomodoro-main>

<tasks></tasks>


@if(showSettings) {
  <div class="dark-layer" (click)="setShowSettings(false)"></div>
}