

@for (task of this.tasksService?.tasksList(); track task.title) { 
  <div id="task">
    <div id="task__main">
      <div id="task__title">
        <i class="fi fi-ss-check-circle doneIcon"></i>
        <h3>{{task.title}}</h3>
      </div>
      <div id="task__pomodoros-and-settings">
        <h3>{{task.pomodoros.donePomodoros}}</h3>
        /{{task.pomodoros.totalPomodoros}}
        <div class="delete"></div>
        <i class="fi fi-sr-menu-dots-vertical"></i>
      </div>
    </div>
    @if (task.description !== '') {
      <div id="task__description">{{task.description}}</div>
    }
  </div>
}