<div
  id="task"
  (click)="selectTask(task)"
  [ngClass]="{
    selected: task.isSelected === true,
    done: task.status === 'DONE'
  }"
>
  <div id="task__main">
    <div id="task__title">
      <i class="fi fi-sr-check-circle" (click)="toggleTaskStatus(task)"></i>
      <h3>{{ task.title }}</h3>
    </div>
    
    <div id="task__pomodoros-and-settings">
      <h3>{{ task.pomodoros.donePomodoros }}</h3>
      /{{ task.pomodoros.totalPomodoros }}

      <i class="fi fi-sr-menu-dots-vertical" (click)="editTask(task)"></i>
      <i class="fi fi-rr-trash" (click)="deleteTask(task)"></i>
    </div>

  </div>
  @if (task.description !== '') {
  <div id="task__description">{{ task.description }}</div>
  }
</div>
